@charset "UTF-8";
/* CSS Document */

/*body {
	font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
*/

p {
	padding-top: 10px;
}

.intro, .tagline {
	padding-top: 2%;
	text-align: center;
}

.intro img {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.highlights .fa {
	font-size: 32px;
	padding-top: 20px;
}

.highlights h3 {
	text-align: center;
}

a, a:link {
	color: #6FDED8;
}

a:hover {
	color: #DE6F75;
}

.footer {
	padding: 5% 0 0 0;
	border-bottom: 1px dotted #090909;
}

 /* Medium Devices, Desktops */
    @media only screen and (min-width : 900px) {
    	body {
    		margin: 100px 50px 0 50px;
    	}
    }

/* Large Devices, Desktops */
    @media only screen and (min-width : 1400px) {
    	body {
    		margin: 100px 100px 0 100px;
    	}
    }


  